<!DOCTYPE html>
<html>
  <head>
    <title>BookHub.com | Free Refrence Books</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="/static/assets/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="/static/assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload container">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="/" class="logo">
            <span class="fa fa-book"></span> <span class="title">BookHub</span>
          </a>
        </div>
      </header>

      <!-- Menu -->

      <h2 class="h2">BOOKS AVILABLE FOR BRANCHES</h2>

      <!-- Products -->
      <section class="tiles">
        <article class="style1">
          <span class="image">
            <img src="/static/images/computer.png" alt="" />
          </span>
          <a href="/engineeringDetails">
            <h2>COMPUTER ENGINEERING</h2>
          </a>
        </article>
        <article class="style2">
          <span class="image">
            <img src="/static/images/it.png" alt="" />
          </span>
          <a href="/engineeringDetails">
            <h2>INFORMATION TECHNOLGY</h2>
          </a>
        </article>
        <article class="style3">
          <span class="image">
            <img src="/static/images/mechanical.png" alt="" />
          </span>
          <a href="/engineeringDetails">
            <h2>MECHANICAL ENGINEERING</h2>
          </a>
        </article>

        <article class="style4">
          <span class="image">
            <img src="/static/images/civil.png" alt="" />
          </span>
          <a href="/engineeringDetails">
            <h2>CIVIL ENGINEERING</h2>
          </a>
        </article>

        <article class="style5">
          <span class="image">
            <img src="/static/images/electicaleng.png" alt="" />
          </span>
          <a href="/engineeringDetails">
            <h2>ELECTRONICS AND TELECOMMUNICATION</h2>
          </a>
        </article>

        <article class="style6">
          <span class="image">
            <img src="/static/images/ai2.png" alt="" />
          </span>
          <a href="/engineeringDetails">
            <h2>ARTIFICIAL INTERLLIGENCE & MACHINE LEARNING</h2>
          </a>
        </article>

        <article class="style7">
          <span class="image">
            <img src="/static/images/datascience.png" alt="" />
          </span>
          <a href="/engineeringDetails">
            <h2>ARTIFICIAL INTERLLIGENCE & DATA SCIENCE</h2>
          </a>
        </article>

        <article class="style8">
          <span class="image">
            <img src="/static/images/cybersecurity.png" alt="" />
          </span>
          <a href="/engineeringDetails">
            <h2>CYBER SECURITY</h2>
          </a>
        </article>

        <article class="style6">
          <span class="image">
            <img src="/static/images/iot.png" alt="" />
          </span>
          <a href="/engineeringDetails">
            <h2>IOT</h2>
          </a>
        </article>

        <article class="style6">
          <span class="image">
            <img src="/static/images/blockchain.png" alt="" />
          </span>
          <a href="/engineeringDetails">
            <h2>BLOCKCHAIN</h2>
          </a>
        </article>
      </section>
    </div>

    <!-- Scripts -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/jquery.scrolly.min.js"></script>
    <script src="/static/assets/js/jquery.scrollex.min.js"></script>
    <script src="/static/assets/js/main.js"></script>
  </body>
</html>
