<!DOCTYPE HTML>
<html>
	<head>
		<title>BookHub.com | Free Refrence Books</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="fa fa-book"></span> <span class="title">BookHub</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Flutter & Dart<span class="pull-right">
								<!-- <del>$99.00</del> $79.00 -->
							</span>
							</h1>
							
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-5">
										<img src="/static/images/flutter.png" class="img-fluid" alt="">
									</div>

									<div class="col-md-7">
										

										<div class="row">
							               

								                    <div class="col-sm-6">
														<a href="https://sanketu.000webhostapp.com/bookhub/files/flutter-complete-reference.pdf"><input type="submit" class="primary" value="Download/ Open"></a>
							                      		
								                    </div>
							                  	<!-- </div>
							                </div>  -->
							            </div>
									</div>
								</div>
							</div>	
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								</ul>

								&nbsp;
							</section>

						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>