<!DOCTYPE html>
<html>
  <head>
    <title>BookHub.com | Free Refrence Books</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="/static/assets/bootstrap/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="/static/assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload container">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="/" class="logo">
            <span class="fa fa-book"></span> <span class="title">BookHub</span>
          </a>

          <!-- Nav -->
        </div>
      </header>

      <!-- Menu -->

      <h2 class="h2">BOOKS AVILABLE FOR {{request.GET.stream}}</h2>

      <!-- Products -->
      <section class="tiles">
        <article class="style1">
          <span class="image">
            <img
              src="https://source.unsplash.com/1600x900/?{{subject1}},book,academic"
              alt=""
            />
          </span>
          <a
            href="/streamDetails?subject={{subject1|urlencode}}&stream={{request.GET.stream}}"
          >
            <h2>{{subject1}}</h2>
          </a>
        </article>
        <article class="style2">
          <span class="image">
            <img
              src="https://source.unsplash.com/1600x900/?{{subject2}},book,academic"
              alt=""
            />
          </span>
          <a
            href="/streamDetails?subject={{subject2|urlencode}}&stream={{ request.GET.stream }}"
          >
            <h2>{{subject2}}</h2>
          </a>
        </article>
        <article class="style3">
          <span class="image">
            <img
              src="https://source.unsplash.com/1600x900/?{{subject3}},book,academic"
              alt=""
            />
          </span>
          <a
            href="/streamDetails?subject={{subject3|urlencode}}&stream={{ request.GET.stream }}"
          >
            <h2>{{subject3}}</h2>
          </a>
        </article>

        <article class="style4">
          <span class="image">
            <img
              src="https://source.unsplash.com/1600x900/?{{subject4}},book,academic"
              alt=""
            />
          </span>
          <a
            href="/streamDetails?subject={{subject4|urlencode}}&stream={{ request.GET.stream }}"
          >
            <h2>{{subject4}}</h2>
          </a>
        </article>

        <article class="style5">
          <span class="image">
            <img
              src="https://source.unsplash.com/1600x900/?{{subject5}},book,academic"
              alt=""
            />
          </span>
          <a
            href="/streamDetails?subject={{subject5|urlencode}}&stream={{ request.GET.stream }}"
          >
            <h2>{{subject5}}</h2>
          </a>
        </article>

        <article class="style6">
          <span class="image">
            <img
              src="https://source.unsplash.com/1600x900/?{{subject6}},book,academic"
              alt=""
            />
          </span>
          <a
            href="/streamDetails?subject={{subject6|urlencode}}&stream={{ request.GET.stream }}"
          >
            <h2>{{subject6}}</h2>
          </a>
        </article>
      </section>
    </div>

    <!-- Scripts -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/jquery.scrolly.min.js"></script>
    <script src="/static/assets/js/jquery.scrollex.min.js"></script>
    <script src="/static/assets/js/main.js"></script>
  </body>
</html>
